
                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800"></h1>
                    

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">GradPro Manage Etudiants</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>lastname</th>
                                            <th>firstname</th>
                                            <th>email</th>
                                            <th>departement</th>

                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>lastname</th>
                                            <th>firstname</th>
                                            <th>email</th>
                                            <th>departement</th>
                                            
                                            <th>Actions</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        <tr *ngFor="let item of dataArray ; index as i">
                                            <td>{{item.lastname}}</td>
                                            <td>{{item.firstname}}</td>
                                            <td>{{item.email}}</td>
                                            <td>{{item.departement}} </td>
                                            <td>
                                                <button type="button" class="btn btn-outline-dark" (click)="getdata(item.lastname,item.firstname,item.email,item.departement,item._id)">update</button>
                                                <button type="button" class="btn btn-outline-dark" (click)="delete(item._id,i)">delete</button>
                                                


                                            </td>
                                        </tr>
                                        
                                        
                                       
                                        
                                
                                       
                                        
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->





                
<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':display}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Etudiant</h4>
                <button type="button" class="close" aria-label="Close" (click)="onCloseHandled()"><span
                        aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <!-- form update start here-->

                <form #f="ngForm" (ngSubmit)="updatenewstudent(f)">
                    <fieldset>


                        <!-- nom-->
                        <div class="form-group">
                            <label for="exampleInputPassword1" class="form-label mt-4">lastname</label>
                            <input type="text"    name="lastname" #lastname="ngModel"  [(ngModel)]="dataEtudiant.lastname" ngModel required     class="form-control"  placeholder="lastname..">
                        </div>
                        <!-- prenom -->
                        <div class="form-group">
                            <label for="exampleInputPassword1" class="form-label mt-4">firstname</label>
                            <input type="text" class="form-control" 
                                placeholder="firstname.." name="firstname" #firstname="ngModel"    [(ngModel)]="dataEtudiant.firstname" ngModel  ngModel required >
                        </div>
                        <!-- email-->
                        <div class="form-group">
                            <label for="exampleInputEmail1" class="form-label mt-4">Email address</label>
                            <input type="email" class="form-control" 
                                placeholder="Email.." name="email" #email="ngModel"  [(ngModel)]="dataEtudiant.email" ngModel  required>
                        </div>
                        <!-- departement-->
                        <div class="form-group">
                            <label for="exampleInputPassword1" class="form-label mt-4">departement</label>
                            <input type="text" class="form-control" 
                                placeholder="departement..." name="departement" #departement="ngModel"   [(ngModel)]="dataEtudiant.departement"   ngModel required >
                        </div>
                        



                        <br>
                
                        <button class="btn btn-dark">Modifier</button>
                    </fieldset>
                </form>


                <!-- form update end here-->
            </div>

        </div>
    </div>
</div>

